.idea/
cmake-build-debug/
cmake-build-release/
.vscode/*
!.vscode/c_cpp_properties.json
data/*
!data/config
!data/README.md
!data/dicom/
!data/TrueBeam/
!data/Geant4
!data/Real
!data/Primo
!data/Results/
!data/dose3d/
!data/gps/
!data/plan/
build/
build-vscode/
output/
core/utilities/python/__pycache__
output/*
logs/*
out/*
jobs/test/*

# To prevent tracking of all directores named "Test" created on testing propouses.
**/Test
**/test
# To track /testbeam calatogue
!**/test[aaaa-zzzz]
# 
